.navbar_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid gray;

  .logo_text {
    font-weight: 700;
    font-size: large;
  }

  .logout_btn {
    cursor: pointer;
    color: gray;

    &:hover {
      color: #000;
    }
  }
}
